body
{
    background-image: url(back_ground.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

div
{
    text-align: center;
    margin-top: auto;
    align-items: center;
}


.bang
{
    width: 500px;
    height: 450px;
    background-color: rgb(174, 208, 220);
    border-radius: 10px;
    margin: 0 auto;
}

button
{
    width: 60px;
    height: 30px;
    background-color: lightpink;
}

button:active
{
   font-size: smaller;
   transform: scale(0.95);
}

button:hover
{
    font-weight:  bolder;
    border: 3px solid black;
}

h3
{
    text-align: center;
    font-weight: initial;
}
